
@{
    ViewBag.Title = "SocialMediaList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@model List<DTO.SocialMediaDTO>
<section class="content-header">
    <h1>Social Media List Operation</h1>
    <ul class="breadcrumb float-sm-left">
        <li class="breadcrumb-item "><a>Admin</a></li>
        <li class="breadcrumb-item "><a>Social Media</a></li>
        <li class="breadcrumb-item "><a>Add Social Media</a></li>
        <li class="breadcrumb-item active"><a>Social Media List</a></li>
    </ul>
</section>
<br />
<div class="card-footer">
    <button type="submit" class=" btn btn-primary" onclick="window.location.href='/Admin/SocialMedia/AddSocialMedia'">Add Social Media</button>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr id="a_@item.ID">
                        <td>@item.Name</td>
                        <td>@item.Link  </td>
                        <td><img src="~/Areas/Admin/Content/AdminImages/SocialMediaImages/@item.ImagePath" width="100" height="100" /></td>
                        <td align="center" valign="middle">
                            <a href="~/Admin/SocialMedia/UpdateSocialMedia/@item.ID ">
                                <img src="~/Areas/Admin/Content/icon/update.png" width="20" height="20" />
                            </a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <img src="~/Areas/Admin/Content/icon/delete.png" width="20" height="20" onclick="AskQuestion('/Admin/SocialMedia/DeleteSocialMedia/', @item.ID)" />
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>

<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>


